@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,900;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");

:root {
  --text-color: #c9c9c9;
  --main-color: #0c286b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  background: #f2f2f2;

}

#wrapper .container {
  display: flex;
}

.wrapper-left {
  width: 50%;
  height: 100vh;
  position: relative;
  overflow: hidden;

}

.wrapper-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.wrapper-left-circle {
  background: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 70%);
  // clip-path: ellipse(51% 69% at 50% 84%);
  // clip-path: circle(100% at 50% % 100%);
  width: 1200px;
  height: 900px;
  border-radius: 50%;
 
}

.wrapper-left-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  // transform: translate(-48%, -28%);
  transform: translate(-50%, -75%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title span {
  height: 0.5px;
  width: 60px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 3px;
}

.wrapper-left-content p {
  font-size: 13px;
  padding: 0 10px;
  white-space: nowrap;
}

.wrapper-left-content a {
  color: var(--text-color);
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  margin-bottom: 10px;
  border-radius: 100px;
  font-size: 13px;
}

a span {
  color: #fff;
}

.wrapper-right {
  width: 50%;
  padding: 50px 100px;
  background: #fff;
}

.wrapper-right .logo {
  margin-bottom: 100px;
}

.wrapper-right .logo img {
  width: 150px;
}

h1 {
  color: #4a575d;
  margin-bottom: 25px;
}

input[type="text"],
input[type="password"] {
  padding: 8px 0;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

input::placeholder {
  font-weight: 300;
  font-size: 15px;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.remember-left {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  color: #333;
}

.remember-left span {
  margin-left: 5px;
}

.login {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.login button {
  padding: 8px 50px;
  border-radius: 100px;
  background: var(--main-color);
  color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
}

.forgot {
  font-size: 12px;
  text-decoration: none;
}

.sign-up {
  display: flex;
  justify-content: center;
  color: #444;
  font-size: 14px;
  font-weight: 400;
}

.sign-up a {
  margin-left: 5px;
}


@media (max-width: 1099px){
  .wrapper-right{
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 978px){
  .wrapper-right{
    padding-left: 50px;
    padding-right: 50px;
  }

  .wrapper-left img{
    object-position: center;
  }
}